{% extends "index.html" %}

{% block description %}
{% if config.extra.category_description[term.name] %}
{{ config.extra.category_description[term.name] }}
{% endif %}
{% endblock description %}

{% block content %}
<div class="mainbox mainbox-div">
    <div class="section">
        {{ macros::ads(ads_id = "category_a",ads_client_id = config.extra.google_adsense_id,ads_unit_config = config.extra.google_adsense_unit) }}
        <h2 class="content-h2 tmp-h2"><span>{{term.name}}</span></h2>
        {% if config.extra.category_description[term.name] %}
        <p class="tmp-post">
            {{ config.extra.category_description[term.name] }}
        </p>
        {% endif %}
        <ul class="article-box">
            {% for page in term.pages %}
            <li>
                <div class="article-box-img">
                    <a href="{{page.permalink}}">
                        {% if page.extra.img %}
                        {% set image = resize_image(path=page.extra.img, width=335, op="fit_width",format="jpg") %}
                        <img src="{{image.url}}" width="100%" height="100%" alt="{{page.title}}">
                        {% endif %}
                    </a>
                </div>
                <span><a href="{{page.permalink}}">{{page.title}}</a></span>
            </li>
            {% endfor %}
        </ul>
        {{ macros::ads(ads_id = "category_b",ads_client_id = config.extra.google_adsense_id,ads_unit_config = config.extra.google_adsense_unit) }}
    </div>
</div>
{% endblock content %}
